.sidebar{
    color:white;
    flex:0.3;
    background-color: var(--forum-color);
    border-top: 1px solid #8ee4af;
    max-width: 260px;
    /* overflow: scroll; */
    overflow-y: auto;
    color: var(--font-color);
}

.sidebar__header{
    display:flex;
    border-top: 1px solid #8ee4af;
    padding-bottom: 10px;
    padding: 13px;
}

.sidebar__header > .MuiSvgIcon-root {
    padding: 8px;
    color: var(--font-color);
    font-size: 18px;
    background-color: #ffffff;
    border-radius: 50%;
}

.sidebar__info{
    flex: 1;
}

.sidebar__info > h2 {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;

}

.sidebar__info > h3 {
    display:flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}

.sidebar__info > h3 >.MuiSvgIcon-root{
    font-size:14px;
    margin-top:1px;
    margin-right:2px;
    color:green;
} 
